<div class="container-fluid">
  <div class="container">
    <p>
      Blog
    </p>
    <label>id<input type="text" [(ngModel)]='id'></label>
    <label>title<input type="text" [(ngModel)]='title'></label>
    <label>author<input type="text" [(ngModel)]='author'></label>
    <label>post<input type="text" [(ngModel)]='post'></label>
    <button (click)="createObj()">Press me</button>      
  </div>
  <hr>
  <hr>
  <hr>
</div>
<app-blog-post *ngFor="let item of items" [post]="item">
  <p>{{item.author}}</p>
</app-blog-post>
