<div class="container-fluid">
  <div class="container">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/features" routerLinkActive="active">Features</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/docs" routerLinkActive="active">Docs</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/resources" routerLinkActive="active">Resources</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/blog" routerLinkActive="active" role="button" >Blog</a></li>
    </ul>
    <!-- <h1>REACT is cool</h1> -->
    <!-- <div>{{arr.name}} temp - {{arr.main.temp -273}} {{arr.weather[0].main}}</div> -->
    <button (click)='onSaveDb()'>save</button>
    <p *ngFor="let item of post">{{item}} <button>delete</button></p>
  </div>
</div>

<router-outlet></router-outlet>
