<div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis facilis vero, atque ut saepe, expedita non blanditiis
    doloremque esse, repellat sint. Alias ipsam impedit corrupti tempora dignissimos ullam blanditiis commodi? Nesciunt,
    obcaecati possimus explicabo reprehenderit optio at quod ex totam incidunt. Assumenda aliquam nemo quisquam laboriosam?
    Excepturi velit corporis quas ullam magni doloremque, vitae recusandae dolor, numquam quae porro quo. Doloremque ullam
    aspernatur quidem nam cum perferendis quos deleniti eius, est illum? Accusamus cumque accusantium exercitationem inventore
    numquam aliquid omnis perspiciatis rem autem, blanditiis dignissimos officiis, unde facere sapiente voluptatem! Mollitia
    quasi deserunt, in laboriosam dolorem eveniet alias ullam repudiandae iusto facilis sit error, sapiente quisquam saepe
    maxime? Excepturi nihil tempora cum molestiae hic repudiandae error temporibus quos explicabo illum. Nulla, rem? Eligendi
    obcaecati tenetur, hic commodi explicabo recusandae. Necessitatibus dignissimos deserunt ducimus beatae ad quisquam vel
    mollitia velit consectetur corporis dolorem vero, unde ullam dicta nisi ab voluptas fugit.    
</div>
<app-list></app-list>
